body {
  font-family: Verdana;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  width: 100%;
}

.logo {
  display: inline-flex;
}

.my_times {
  color: MediumAquamarine;
}

#div-header-links {
  align-items: flex-end;
}

#nav-header {
  text-align: right;
}

.header-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-links li {
  display: inline-block;
}

.header-links a {
  color: black;
}
